<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/account-setting.css">
</head>
<body>
    <header>
        <%- include('header'); %>
    </header>
    <div class="form-container">
    <form class='form' id="change-password">
        <h2>Change Password</h2></br>
        <label for="fname">New password:</label><br>
        <input type="text" id="fname" name="pw" ><br>
        <label for="lname">Confirm Your Password:</label><br>
        <input type="text" id="lname" name="re-pw" >
        <div id="message"></div><br><br>
        <input type="submit" value="Submit">
      </form> 
    </div>

    
    <script src="js/account-setting.js"></script>
</body>
</html>