<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ZXing for JS">
    <title>Book Information</title>
    <link rel="stylesheet" href="css/book_info.css">
</head>

<body>
    <header>
        <%- include('header'); %>
    </header>
    <div class="container">
        <h2 id="page-title">
            Book Information
        </h2>
        <div id="book-info">
            <div id="book-img">
                <img src="" alt="a book image ">
            </div>
            <form id="book-detail" name="book-info">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" placeholder="" class="input-box" disabled>
                <label for="author">Author:</label>
                <input type="text" id="authors" name="author" placeholder="" class="input-box" disabled>
                <label for="isbn">ISBN:</label>
                <input type="text" id="isbn" name="isbn" placeholder="" class="input-box" disabled>
                <label for="category">Category:</label>
                <input type="text" id="categories" name="category" placeholder="" class="input-box" disabled>
                <label for="description">Description:</label>
                <textarea name="description" id="description" placeholder="" class="input-box"  id="description-input" disabled></textarea>
                <div class="buttons">
                    <a href="/searching">
                        <div class="button">Back</div>
                    </a>
                    <button type="submit" form="book-info" class="button">Edit</button>
                </div>
            </form>


        </div>

    </div>


    <script src="js/book_info.js"></script>
</body>

</html>