<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ZXing for JS">
    <title>Book Information</title>
    <link rel="stylesheet" href="css/book_info_new_book.css">
</head>

<body>
    <header>
        <%- include('header'); %>
    </header>
    <div class="container">
        <h2 id="page-title">
            Book Information
        </h2>
        <div id="book-info">
            <div id="book-img">
                <!-- <img src="images/book.jpeg" alt="a book image" id='book-image'> -->
                <img alt="a book image" id='book-image'>

            </div>
            <form id="book-detail" name="book-info">
                <label for="title">Title:</label>
                <input type="text" id='title' name="title" placeholder="TITLE" class="input-box">
                <label for="author">Author:</label>
                <input type="text"  id='author' name="author" placeholder="AUTHOR" class="input-box">
                <label for="isbn">ISBN:</label>
                <input type="text"  id='isbn' name="isbn" placeholder="ISBN" class="input-box">
                <label for="description">Description:</label>
                <textarea name="description"  id='description' placeholder="DESCRIPTION" class="input-box" id="description-input"></textarea>
                <div class="buttons">
                        <button type="reset" id='back-button' class="button">Back</button>
                        <button type="submit" id='next-button' form="book-info" class="button">Next</button>
                </div>
            </form>


        </div>

    </div>
    <script src="js/book_info_new_book.js"></script>
</body>

</html>