<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ZXing for JS">
    <title>Book Information</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.rawgit.com/wenzhixin/multiple-select/e14b36de/multiple-select.css">
    <link rel="stylesheet" href="css/category-page.css">
</head>

<body>
    <header>
        <%- include('header'); %>
    </header>
    <div class="container">
        <h2 id="page-title">
            Book Information
        </h2>
        <div id="book-info">
            <div id="book-img">
                <img src="images/book.jpeg" alt="a book image" id='book-image'>
            </div>
            <form id="book-detail" name="book-info">
                <label for="title">Title:</label>
                <input type="text" id='title' name="title" placeholder="TITLE" class="input-box">
                <label for="category">Categories:</label>
                <div id="categories_container"></div>
                <select name="category" id="category" multiple="multiple">
                    <%- include('categories-options'); %>
                </select>
                <br>
                <label for="author">Author:</label>
                <input type="text" id='author' name="author" placeholder="AUTHOR" class="input-box">
                <label for="isbn">ISBN:</label>
                <input type="text" id='isbn' name="isbn" placeholder="ISBN" class="input-box">
                <label for="description">Description:</label>
                <textarea name="description" id='description' placeholder="DESCRIPTION" class="input-box"
                    id="description-input"></textarea>
                <div class="buttons">
                    <button type="reset" id='back-button' class="button">Back</button>
                    <button type="submit" id='add-button' form="book-info" class="button">Add Another Book</button>
                </div>
            </form>


        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script src="https://cdn.rawgit.com/wenzhixin/multiple-select/e14b36de/multiple-select.js"></script>
    <script src="js/category-page.js"></script>
</body>

</html>