<div class="nav">
    <a class="home-page" href="/homepage" style="text-decoration: none">
        <div class="icon">
            <div class="icon"> <svg width="59" height="54" viewBox="0 0 59 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M31.0891 0H4.00543e-05L13.0902 12.0016H44.1792L31.0891 0ZM13.0901 12.0017V40.5055L0 28.5039V2.94447e-05L13.0901 12.0017Z" fill="#76CAB4"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.0902 53.5055H58.1792L58.1792 25.0016L45.0891 13L45.0891 41.5039L14 41.5039L27.0902 53.5055Z" fill="#003E8B"/>
                </svg></div>
            <div class="title">
                BOOK DEPOSITORY SYSTEM
            </div>
        </div>
    </a>
    <a class="log-out-buttons" href="/logout">
        <div class="log-out">
            LOG OUT
        </div>
    </a>
</div>