<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/homepage.css">
</head>

<body>
    <header>
        <%- include('header'); %>
    </header>
    <div class="menu">

        <a class="main-buttons" href="/scan-book">
            <div class="scan-book">
                SCAN BOOK
            </div>
        </a>

        <a class="main-buttons" href="/searching">
            <div class="search-book">
                SEARCH BOOK
            </div>
        </a>

        <a class="main-buttons" href="/account-setting">
            <div class="user-setting">
                USER SETTINGS
            </div>
        </a>
    </div>

    <script src="js/homepage.js"></script>
</body>

</html>