<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Depository System</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="icon"> <svg width="59" height="54" viewBox="0 0 59 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M31.0891 0H4.00543e-05L13.0902 12.0016H44.1792L31.0891 0ZM13.0901 12.0017V40.5055L0 28.5039V2.94447e-05L13.0901 12.0017Z" fill="#76CAB4"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.0902 53.5055H58.1792L58.1792 25.0016L45.0891 13L45.0891 41.5039L14 41.5039L27.0902 53.5055Z" fill="#003E8B"/>
                </svg></div>
            <div class="title">
                BOOK DEPOSITORY SYSTEM
            </div>
        </header>
        <form action="#">
            <div class="field email">
                <div class="input-area">
                    <input type="text" placeholder="Email Address" id="username">
                    <i class="icon fas fa-envelope"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt">Email can't be blank</div>
            </div>
            <div class="field password">
                <div class="input-area">
                    <input type="password" placeholder="Password" id="password">
                    <i class="icon fas fa-lock"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt">Password can't be blank</div>
            </div>
            <div class="pass-txt" id="login-failed"></div>
            <input type="submit" value="Login">
        </form>
    </div>
    <script src="js/index.js"></script>
</body>

</html>