<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/loading-page.css">
</head>
<body>
    <header>
        <%- include('header'); %>
    </header>
    <div class="container">
        <div class="process">The AI engine is matching your books to existing categories</div>
        <br>
        <div class="status">Please Wait....</div>
        <br>
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="button-container">
        <div id='back-button' class="button">BACK</div>
    </div>
    <script src="js/loading-page.js"></script>
</body>
</html>