<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ZXing for JS">
    <link rel="stylesheet" href="css/scanISBN.css">
    <title>document</title>
</head>

<body>
    <header>
        <%- include('header'); %>
    </header>
    <div class="main-container">
        <div class="reader-container">
            <div id="qr-reader" style="width:500px"></div>
        </div>
        <div class="code-info">
            <div class="instruction">
                PLACE THE ISBN CODE IN THE BOX.
                </br>
                </br>
            </div>
            <div class="code">
                ISBN: <input class="code-number">
            </div>
        </div>
        <div class="buttons">
            <a href="/homepage">
                <div class="back-button button">BACK</div>
            </a>
            <div class="next-button button">NEXT</div>
        </div>
    </div>
    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
    <script src="js/scanISBN.js"></script>
</body>

</html>