<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book searching</title>
    <link rel="stylesheet" href="css/searching.css">
</head>

<body>
    <header>
        <%- include('header'); %>
    </header>
    <div class="container">
        <h2 id="page-title">
            Search
        </h2>
        <div id="content">
            <div id="search-bar-container">
                <input type="text" id="search-bar" placeholder="Search all books">
            </div>

            <div id="result-board">
            </div>
        </div>

    </div>



    <script src="js/searching.js"></script>
</body>

</html>