@import url('imports/common.css');
@import url('imports/header.css') screen and (min-width: 400px);
@media screen and (max-width:400px) { 
    .nav {
        background-color: #e6e5f2;
    }
}

.form-container{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
}

.form{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
}

#message{
    color: red;
    font-size: 15px;
}