@import url('imports/common.css');
@import url('imports/header.css') screen and (min-width: 400px);
@media screen and (max-width:400px) { 
    .nav {
        background-color: #e6e5f2;
    }
}
#page-title {
    font-size: 30px;
}

.container {
    width: 80vw;
    margin: 0 5vw;
    position: relative;
    margin-bottom: 40px;
}

#book-info {
    width: 100%;
}

#book-img {
    width: auto;
    height: 50vh;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#book-img img {
    width: auto;
    height: 100%;
}

#book-detail {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.input-box {
    height: 40px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 1px;
}

#description {
    resize: none;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
    height: 20vh;
}

input[type="text"] {
    font-size: 16px;
    padding-left: 10px;
}

.input-box#description-input {
    height: 80px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 30px;
}

.buttons a {
    width: 30%;
    height: 40px;
}

.buttons a button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-width: 1px;
    font-size: 20px;
    background-color: white;
}

.button {
    font-size: 20px;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    border-width: 1px;
    background-color: white;
}

.button:hover,
.buttons a button:hover {
    border-width: 2px;
    font-size: 21px;
    cursor: pointer;
    background-color: black;
    color: white;
}

#page-title {
    margin: 40px;
}

#category {
    width: 100%;
}

