@import url('imports/common.css');
@import url('imports/header.css') screen and (min-width: 400px);
@media screen and (max-width:400px) { 
    .nav {
        background-color: #e6e5f2;
    }
}
.menu {
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: space-around;
}

.scan-book,
.search-book,
.user-setting {
    height: 100%;
    /* width: 25%; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    border: white solid 1px;
    font-size: 25px;
}

.scan-book:hover,
.search-book:hover,
.user-setting:hover {
    color: #001F3F;
    background-color: #edde8b;
    cursor: pointer;
    border: #cfed4b solid 1px;
}

.scan-book {
    background-color: #A7CEE1;
}

.search-book {
    background-color: #E5C9DB;
}

.user-setting {
    background-color: #B8A6C5;
}

.main-buttons {
    width: 25%;
}