@import url('imports/common.css');
@import url('imports/header.css') screen and (min-width: 400px);
@media screen and (max-width:400px) { 
    .nav {
        background-color: #e6e5f2;
    }
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.webcam-start-stop {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 5px 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.webcam-start-stop>a {
    text-decoration: unset;
    color: #000;
    background: #fff;
    padding: 10px 20px;
}

.main-container {
    height: 100%;
}

.reader-container {
    display: flex;
    justify-content: center;
    height: 40%;
}

.code-info {
    width: 100%;
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E6E6F2;
}

.buttons {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.next-button,
.back-button {
    transition: all .5s ease;
    cursor: pointer;
}

.next-button:hover,
.back-button:hover {
    background-color: #332424;
    color: white;
}