@import url('imports/common.css');
@import url('imports/header.css') screen and (min-width: 400px);
@media screen and (max-width:400px) { 
    .nav {
        background-color: #e6e5f2;
    }
}

#page-title{
    margin-top: 20px;
    font-size: 30px;
}

.container{
    width: 80vw;
    margin: 0 5vw;
    position: relative;
    margin-bottom: 40px;
}

@media only screen and (max-width: 700px) {    
    .container{
        width: 100vw;
        margin: 0;
    }
}

#content{
    width: 100%;
}

#search-bar-container{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}


input#search-bar{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius:5px;
    border-width: 1px;
}

input[type="text"]{
    font-size: 20px;
    padding-left: 10px;
}

#result-board{
    width: 100%;
}

.book-link{
    text-decoration: none;
    color: black;
}

.book{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.book .img-box{
    width: 15vw;
    min-width: 150px;
    max-height: 100%;
}
    
.book .img-box img{
    width: 100%;
    max-height: 100%;
}
    

.book-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.my-title{
    font-size: 20px;
    color: #131313;
    border-bottom: solid 1px #a4a4a4;}

.book-info div .author,
.book-info div .category
{
    margin-left: 20px;
    padding: 0px 3px;
}

#book-detail{}

    




  