@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    font-family: "Poppins", sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e6f2;
}

.icon {
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 25px;
}

.log-out {
    margin: 20px;
    font-size: 20px;
    margin-right: 40px;
    transition: all .5s ease;
    text-decoration: none;
}

.log-out:hover {
    cursor: pointer;
    background-color: #332424;
    color: white;
}